/* @import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&family=Montserrat&family=Yellowtail&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Grand Hotel', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    color: var(--heading-color);
}

:root {
    --red: #e64c66;
    --fff: #e1e8f7;
    --blue: #1bbc9b;
    --lightblack: #2d3e50;
    --heading-color: #868686;

}

p,
a,
h1,
h2,
h3,
h4,
h5 {
    color: var(--heading-color);
}
.pswd__generator{
    width: 100%;
    height: 100vh;
    background: var(--blue);
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
width: 30%;
height: 70vh;
background-color: var(--red);
border-radius: 3rem;
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.box h1{
    text-align: center;
    color: var(--fff);
    margin: 1rem;
    font-weight: 500;
    text-transform: capitalize;
}
.input__field{
    display: flex;
    justify-content: center;
   
}
.input__field input{
    width: 28rem;
    height: 6vh;
    color: var(--lightblack);
    font-size: 2rem;
}
span{
    color: var(--lightblack);
    
}
.btns button{
    margin: 2rem;
    width: 12rem;
    height: 6vh;
    color: var(--fff);
    border: none;
 
}
.fa-face-smile{
    color: orange;
    font-size: 2rem;
}
.generate__btn{
background-color: var(--blue);

}
.generate__btn:hover{
    background-color: var(--lightblack);
    
    }

.cpy__btn{
    background-color: var(--heading-color);
}
.cpy__btn:hover{
    background-color: var(--fff);
    color: var(--lightblack);
}
@media(max-width:980px){
    .input__field input{
        width: auto;
    }
    
}
@media(min-width:980px){
   
    .btns{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
}
@media(max-width:768px){
    .pswd__generator{
        width: 100%;
        background-color: #2d3e50;
  
    }
    .box{
        width: 100%;
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media(max-width:480px){
    .pswd__generator{
        width: 100%;
        background-color: #2d3e50;
  
    }
    .box{
        width: 70%;
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .input__field input{
        width: 13rem;
    }
    .btns{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
} */